{% extends 'Users/doctor/base.html' %}

{% block sidebar_items %}
<li>
    <a href="{% url 'Users:d_home' %}">
        <i class="bx bx-book-add"></i>
        <span class="links_name">Profile</span>
    </a>
</li>
<li>
    <a href="" class="active">
        <i class="bx bx-book-add"></i>
        <span class="links_name">Appointments</span>
    </a>
</li>
{% endblock %}

{% block home_section %}
<div class="pt-6 pb-50 px-11 bg-white rounded-lg shadow-black border-1"
style="position: relative; display: inline-block; width: 50%; height: 62vh; margin: 3% 25%">
<div class="flex flex-col items-start w-full m-auto sm:flex-row">
    <div class="flex flex-col pt-4 pb-15 mx-auto my-auto sm:pt-0 sm:mx-0">
        <div class="items-center justify-between mt-4 pt-8 pl-5">
            <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Booked Appointments
                </span></div>
        </div>
    </div>
</div>
<div class="w-full items-center justify-between pt-10 pl-5">
    {% for appointment in pending_appointments %}
    <div class="appointments-list">
        <span>
            {{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}
        </span>
        <span>
            {{appointment.date}}
        </span>
        <span>
            {{appointment.time}}
        </span>
        <span>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="approval">
                <input type="hidden" name="id" value="{{appointment.id}}">
                <input type="button" name value="Accept" style="background:green;color:white;">
                <input type="button" value="Reject" style="background:red;color:white;">
            </form>
        </span>
    </div>
    <br>
    {% endfor %}
</div>
<div class="w-full items-center justify-between pt-10 pl-5">
    {% for appointment in booked_appointments %}
    <div class="appointments-list">
        <span>
            {{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}
        </span>
        <span>
            {{appointment.date}}
        </span>
        <span>
            {{appointment.time}}
        </span>
        <span>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="cancel">
                <input type="hidden" name="id" value="{{appointment.id}}">
                <input type="submit" value="Cancel" style="background:red;color:white;">
            </form>
        </span>
    </div>
    <br>
    {% endfor %}
</div>
<div class="flex flex-col items-start w-full m-auto sm:flex-row">
    <div class="flex flex-col pt-4 pb-15 mx-auto my-auto sm:pt-0 sm:mx-0">
        <div class="items-center justify-between mt-4 pt-8 pl-5">
            <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Completed Appointments
                </span></div>
        </div>
    </div>
</div>
<div class="w-full items-center justify-between pt-10 pl-5">
    {% for appointment in completed_appointments %}
    <div class="appointments-list">
        <span>
            {{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}
        </span>
        <span>
            {{appointment.date}}
        </span>
        <span>
            {{appointment.time}}
        </span>
        <span>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="type" value="approval">
                <input type="hidden" name="id" value="{{appointment.id}}">
                <input type="submit" value="Cancel" style="background:red;color:white;">
            </form>
        </span>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}

