{% extends 'base.html' %}

{% block navbar %}
<li><a href="#" class="active">Home</a></li>
<li><a href="#">Doctors</a></li>
<li><a href="#">Diagnosis</a></li>
<li><a href="#">Q&As</a></li>
<li><a href="#">Chat</a></li>
{% endblock %}

{% block main %}

<br>
<div class="sidebar">
    <div class="heading" style="margin: 5px;">
        <h2 style="color: white;">Patient</h2>
    </div>
    <div class="sidebar-contents">
        <a href="{% url 'sign_in' %}" class="sidebar-nav">
            <p class="side-text">
                Profile
            </p>
        </a>
        <a href="#" class="sidebar-nav active">
            <p class="side-text">
                Appointments
            </p>
        </a>
        <a href="{% url 'patient_wallet' %}" class="sidebar-nav">
            <p class="side-text">
                Wallet
            </p>
        </a>
        <a class="sidebar-nav">
            <p class="side-text">
                Forum
            </p>
        </a>
        <a class="sidebar-nav">
            <p class="side-text">
                Progress Report
            </p>
        </a>
    </div>
</div>

<div class="patient-dash-content-container">
    <div class="heading" style="margin: 10px;">
        <h1>Appointments</h1>
    </div>
    <div class="a-content">
        <label for="symptom-box"><h2>How are you feeling?</h2></label>
        <textarea name="symptom-box" id="symptoms" cols="30" rows="10" placeholder="Enter your symptoms"></textarea>
        <button class="a-submit">Look for doctors</button>
    </div>
    <div class="a-content">
        <h2>Past appointments</h2>
        Past appointments list here
    </div>
    
</div>

{% endblock %}

{% block footer %}
<script>
    $(".sidebar-nav").click(function () {
        $(".sidebar-nav").removeClass("active");
        $(this).addClass("active");
    });

    $
</script>
{% endblock %}
