{% extends 'base.html' %}

{% block navbar %}
<li><a href="/" class="active">Home</a></li>
<li><a href="#">Doctors</a></li>
<li><a href="#">Diagnosis</a></li>
<li><a href="#">Q&As</a></li>
<li><a href="#">Chat</a></li>
{% endblock %}

{% block main %}
<br>
<div class="sidebar">
    <div class="heading" style="margin: 5px;">
        <h2 style="color: white;">Patient</h2>
    </div>
    <div class="sidebar-contents">
        <a href="#" class="sidebar-nav active">
            <p class="side-text">
                Profile
            </p>
        </a>
        <a href="" class="sidebar-nav">
            <p class="side-text">
                Appointments
            </p>
        </a>
        <a href="" class="sidebar-nav">
            <p class="side-text">
                Wallet
            </p>
        </a>
        <a class="sidebar-nav">
            <p class="side-text">
                Forum
            </p>
        </a>
        <a class="sidebar-nav">
            <p class="side-text">
                Progress Report
            </p>
        </a>
    </div>
</div>
<div class="patient-dash-content-container">
    <div class="a-content">
        Name: Rohan Kamat<br>
        Date Of Birth: 20-02-2002<br>
        Gender: Male<br>
        Phone number: 9620942560<br>
        Email-id: rohankamat20022002@gmail.com<br>
    </div>
</div>

{% endblock %}

{% block footer %}
<script>
    $(".sidebar-nav").click(function () {
        $(".sidebar-nav").removeClass("active");
        $(this).addClass("active");
    });

    $
</script>
{% endblock %}


