{% extends 'base.html' %}

{% block navbar %}
<li><a href="#" class="active">Home</a></li>
<li><a href="#">Doctors</a></li>
<li><a href="#">Diagnosis</a></li>
<li><a href="#">Q&As</a></li>
<li><a href="#">Chat</a></li>
{% endblock %}

{% block main %}
<br>
<div class="sidebar">
    <div class="heading" style="margin: 5px;">
        <h2 style="color: white;">Patient</h2>
    </div>
    <div class="sidebar-contents">
        <a href="{% url 'sign_in' %}" class="sidebar-nav">
            <p class="side-text">
                Profile
            </p>
        </a>
        <a href="{% url 'patient_appointments' %}"class="sidebar-nav">
            <p class="side-text">
                Appointments
            </p>
        </a>
        <a href="#" class="sidebar-nav active">
            <p class="side-text">
                Wallet
            </p>
        </a>
        <a class="sidebar-nav">
            <p class="side-text">
                Forum
            </p>
        </a>
        <a class="sidebar-nav">
            <p class="side-text">
                Progress Report
            </p>
        </a>
    </div>
</div>

<div class="patient-dash-content-container">
    <div class="heading" style="margin: 10px;">
        <h1>Wallet</h1>
    </div>
    <div class="a-content">
        <h2>Current Balance</h2>
        Balance here
    </div>
    <div class="a-content">
        <h2>Statement</h2>
        Statement here
    </div>
    <div class="a-row">
        <div class="a-content" style="width: 50%;">
            <h2>Add Money to wallet</h2>
            <label for="amount-to-add" >Amount to add</label>
            <input type="number" step="any" name="amount-to-add" placeholder="0.00">
            <button class="a-submit">Add</button>
        </div>
        <div class="a-content" style="width: 50%;">
            <h2>Withdraw money from the Wallet</h2>
            <label for="amount-to-withdraw">Amount to Withdraw</label>
            <input type="number" step="any" name="amount-to-withdraw" placeholder="0.00">
            <button class="a-submit">Withdraw</button>
        </div>
    </div>


</div>
{% endblock %}

{% block footer %}
<script>
    $(".sidebar-nav").click(function () {
        $(".sidebar-nav").removeClass("active");
        $(this).addClass("active");
    });

    $
</script>
{% endblock %}