{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<link rel="stylesheet" href="{% static 'assets/css/cards.css' %}">

<li><a href="/">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'contact' %}">Contact Us</a></li>
<li><a href="{% url 'sign_up' %}" class="active" id="sign-up">Sign-Up</a></li>
<li><a href="{% url 'sign_in' %}" id="login">Login</a></li>
{% endblock %}

{% block main %}
<div>
    <h1 style="position: relative; text-align: center; padding-top: 13%; font-family: 'Bebas Neue', cursive; word-spacing: 10px; letter-spacing: 4px;">
        How are you looking to join us?
    </h1>
    <div id="container">
        <div class="product-image">
            <a href="{% url 'p_sign_up' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/1430/1430504.png" alt="">
            </a>
        </div>
        <div class="product-details">
            <h1>Patient</h1>
        </div>
    </div>

    <div id="container">
        <div class="product-image">
            <a href="{% url 'p_sign_up' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/709/709043.png" alt="">
            </a>
        </div>
        <div class="product-details">
            <h1>Doctor</h1>
        </div>
    </div>

    <div id="container">
        <div class="product-image">
            <a href="{% url 'p_sign_up' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/8520/8520012.png" alt="">
            </a>
        </div>
        <div class="product-details">
            <h1>Sponsor</h1>
        </div>
    </div>
</div>
{% endblock %}