{% extends 'base.html' %}

{% block main %}
<li><a href="/">Home</a></li>
<li><a href="{% url 'about' %}" class="active">About</a></li>
<li><a href="{% url 'contact' %}">Contact Us</a></li>
<li><a href="signup.html" id="sign-up">Sign-Up</a></li>
<li><a href="login.html" id="login">Login</a></li>
{% endblock %}

{% block main %}
<div class="category-form">
    <div class="form-container">
        <div class="col-lg-12">
            <h1>How do you want to join <em>Psycura</em></h1>
        </div>
        <div class="col-lg-12">
            <ul>
                <li>
                    <a href="{% url 'p_sign_up' %}">
                        Patient
                    </a>
                </li>
                <li>
                    <a href="{% url 'd_sign_up' %}">
                        Doctor
                    </a>
                </li>
                <li>
                    <a href="{% url 's_sign_up' %}">
                        Sponsor
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    $(".option").click(function () {
        $(".option").removeClass("active");
        $(this).addClass("active");
    });
</script>
{% endblock %}