{% extends 'authentication/forms/base_form.html' %}

{% block details %}
<div class="col-lg-6">
  <fieldset>
    <label for="qualifications" class="form-label">Qualifications<b>*</b>
    </label>
    <input type="text" name="qualifications" class="name" placeholder="Ex. Capaldi" autocomplete="on" required>
  </fieldset>
</div>
<div class="col-lg-6">
  <fieldset>
    <label for="specialization" class="form-label">Specialization<b>*</b></label>
    <select name="specialization" id="specialization" class="form-select">
      <option value="Abnormal">Abnormal</option>
      <option value="Biopsychologist">Biopsychologist</option>
      <option value="Cognitive">Cognitive</option>
      <option value="Developmental">Developmental</option>
      <option value="Personality">Personality</option>
      <option value="Forensic">Forensic</option>
      <option value="Industrial-Organizational">Industrial-Organizational</option>
    </select>
  </fieldset>
</div>
<div class="col-lg-12">
  <fieldset>
    <label for="certificate" class="form-label">
      Upload Certificate
    </label>
    <input type="file" name="certificate" id="certificate" value="Upload file">
  </fieldset>
</div>
<br>
{% endblock %}