{% extends 'Users/patient/patient_base.html' %}
{% load static %}

{% block sidebar_items %}
<li>
    <a href="{% url 'Users:p_home' %}">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Profile</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:p_doctors' %}" class="active">
        <i class='bx bx-book-add'></i>
        <span class="links_name">Available Doctors</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:p_appointments_future' %}">
        <i class="bx bx-book-add"></i>
        <span class="links_name">Appointments</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:forums' %}">
        <i class='bx bx-chat'></i>
        <span class="links_name">Forums</span>
    </a>
</li>
{% endblock %}

{% block home_section %}
{% if message %}
<div class="alert alert-success" role="alert">
    <script>
        alert("The appointment slot has been booked already. Please select another slot.");
    </script>
</div>
{% endif %}

<div class="pt-3 pb-50 px-11 bg-white rounded-lg shadow-black border-1"
    style="position: relative; display: inline-block; width: 50%; height: 73vh; margin: 3% 25%">
    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <div class="flex flex-col pt-4 pb-15 mx-auto my-auto sm:pt-0 sm:mx-0">
            <div class="flex flex-col pt-10 pl-5 mx-auto sm:flex-row sm:mx-0 ">
                <h1 class="text-lg font-semibold text-gray-800 sm:text-xl" style="font-size: 200%;">
                    {{doctor.user.first_name}} {{doctor.user.last_name}}</h1>
            </div>
            <div class="items-center justify-between mt-4 pt-8 pl-5">
                <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Professional Experience:
                    </span></div>
                <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Qualifications:
                        {{doctor.qualifications}}</span></div>
                <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Certificate: <a
                            href="">File</a></span></div>
            </div>
        </div>
    </div>
    <div class="w-full items-center justify-between pt-10 pl-5">
        <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Personal Details: </span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Age: {{doctor.user.age}}</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Gender:
                {{doctor.user.get_gender_display}}</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Phone Number:
                {{doctor.user.phone_number}}</span></div>
    </div>
    <div class="w-full items-center justify-between pt-10 pl-5">
        <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Schedule Appointment:</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Fee:
                {{doctor.fee}}</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Rating:
                {{doctor.rating}}</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Timings:
                4:00pm - 9:00pm (1hr each)</span></div>
    </div>
    <div class="w-full items-center justify-between pt-10 pl-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="flex">
                <span class="mr-1 text-gray-600 font-semibold text-lg">Date: </span>
                <input type="date" name="date" id="date" class="form-control" required>
            </div>
            <div class="flex">
                <span class="mr-1 text-gray-600 font-semibold text-lg">Time: </span>
                <input type="time" name="time" id="time" class="form-control" required>
            </div>
            <div class="flex">
                <button type="submit" class="btn btn-primary rounded-lg mt-4 px-2 py-2 text-base"
                    style="background-color: #22b3c1;">Schedule</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}