{% extends 'base.html' %}
{% load static %}

{% block main %}
<section id="section-1">
    <div class="content-slider">
        <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
        <input type="radio" id="banner2" class="sec-1-input" name="banner">
        <input type="radio" id="banner3" class="sec-1-input" name="banner">
        <input type="radio" id="banner4" class="sec-1-input" name="banner">
        <div class="slider">
            <div id="top-banner-1" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>Your one stop destination for mental health</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-2" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>"Just because no one else can heal or do your inner work for you doesn't mean you can, should, or need to do it alone." - Lisa Olivera"</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-3" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>"Your mental health is everything - prioritize it. Make the time like your life depends on it, because it does." — Mel Robbins</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-4" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2>Mental health…is not a destination, but a process. It's about how you drive, not where you're going." — Noam Shpancer, PhD</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="controls">
                <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">1</span></label>
                <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">2</span></label>
                <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">3</span></label>
                <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">4</span></label>
            </div>
        </nav>
    </div>
</section>

<div class="visit-country">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2>You can be a part of PsyCura Now</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="items">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="{% static 'assets/images/country-01.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content" style="position: relative; padding-top: 3%;">
                                            <h4>PATIENT</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde
                                                hic, fugiat praesentium ea
                                                dsfdsfsdfsdfdsfsdfdsfsdfsdfdsfsdfdsfsdfdfdfdfdfdfdfdfdfdfdsfsdfsd
                                                fsdfsdfexplicabo.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 8.66 Mil People</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="{% static 'assets/images/country-02.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content" style="position: relative; padding-top: 3%;">
                                            <h4>DOCTOR</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde
                                                hic, fugiat praesentium ea
                                                dsfdsfsdfsdfdsfsdfdsfsdfsdfdsfsdfdsfsdfdfdfdfdfdfdfdfdfdfdsfsdfsd
                                                fsdfsdfexplicabo.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 44.48 Mil People</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item last-item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="{% static 'assets/images/country-03.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content" style="position: relative; padding-top: 3%;">
                                            <h4>SPONSOR</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde
                                                hic, fugiat praesentium ea
                                                dsfdsfsdfsdfdsfsdfdsfsdfsdfdsfsdfdsfsdfdfdfdfdfdfdfdfdfdfdsfsdfsd
                                                fsdfsdfexplicabo.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 67.41 Mil People</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="call-to-action" style="margin-top: auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Looking for psychological Help?</h2>
                <h4>Join our community by Clicking The Button</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function bannerSwitcher() {
        next = $('.sec-1-input').filter(':checked').next('.sec-1-input');
        if (next.length) next.prop('checked', true);
        else $('.sec-1-input').first().prop('checked', true);
    }

    var bannerTimer = setInterval(bannerSwitcher, 5000);

    $('nav .controls label').click(function () {
        clearInterval(bannerTimer);
        bannerTimer = setInterval(bannerSwitcher, 5000)
    });
</script>
{% endblock %}