{% extends 'base.html' %}
{% load static %}

{% block main %}
<section id="section-1">
    <div class="content-slider">
        <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
        <input type="radio" id="banner2" class="sec-1-input" name="banner">
        <input type="radio" id="banner3" class="sec-1-input" name="banner">
        <input type="radio" id="banner4" class="sec-1-input" name="banner">
        <div class="slider">
            <div id="top-banner-1" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2 style="font-size: 26px;">Your one stop destination for mental health</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-2" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2 style="font-size: 26px;">"Just because no one else can heal or do your inner work for you
                            doesn't mean you can, should, or need to do it alone." - Lisa Olivera"</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-3" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2 style="font-size: 26px;">"Your mental health is everything - prioritize it. Make the time
                            like your life depends on it, because it does." — Mel Robbins</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-banner-4" class="banner">
                <div class="banner-inner-wrapper header-text">
                    <div class="main-caption">
                        <h2 style="font-size: 26px;">Mental health…is not a destination, but a process. It's about how
                            you drive, not where you're going." — Noam Shpancer, PhD</h2>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="more-info">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-user"></i>
                                            <h4><span>Our community</span><br>44.48 M</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-globe"></i>
                                            <h4><span>Trusted globally</span><br>2022</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <i class="fa fa-home"></i>
                                            <h4><span>Forums</span><br>5500</h4>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-6">
                                            <div class="main-button">
                                                <a href="{% url 'about' %}">Explore More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="controls">
                <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">1</span></label>
                <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">2</span></label>
                <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">3</span></label>
                <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span
                        class="text">4</span></label>
            </div>
        </nav>
    </div>
</section>

<div class="visit-country">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2>Be a part of PsyCura now!</h2>
                    <p style="font-size: 16px;">
                        Making professional therapy accessible, affordable, and convenient — so anyone who struggles
                        with life's challenges can get help, anytime and anywhere.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="items">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="{% static 'assets/images/homepage/patient.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content" style="position: relative; padding-top: 3%;">
                                            <h4>PATIENT</h4>
                                            <p>Mental fitness is not only one of the most important keys to a healthy
                                                body, but it is also the basis of dynamic and creative intellectual
                                                activity. If you have health, you probably will be happy, and if you
                                                have health and happiness, you have the wealth you need, even if it is
                                                not all you want. Studies show that people who exercise regularly reduce
                                                their stress response, now you know that so take care of your health!
                                            </p>
                                            <p>Join our community today as a patient and find the place where you belong
                                                and are loved.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 8.66 Mil People</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="{% static 'assets/images/homepage/doctor.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content" style="position: relative; padding-top: 3%;">
                                            <h4>DOCTOR</h4>
                                            <p>Healthcare workers go above and beyond for our sake, and although we
                                                often overlook it, they are one of the most essential parts of our
                                                community at large. There really is not a lot we can say or do to reward
                                                the saved lives, care, and treatments they give us, however, a day like
                                                this gives us an opening to at least try. Life-giving care especially
                                                impacts the caregivers and patients in an irreplaceable way.</p>
                                            <p>Join our community today as a doctor and help us reach out to those in
                                                need.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 44.48 Mil People</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item last-item">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5">
                                        <div class="image">
                                            <img src="{% static 'assets/images/homepage/sponsor.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-7">
                                        <div class="right-content" style="position: relative; padding-top: 3%;">
                                            <h4>SPONSOR</h4>
                                            <p>A sponsor is also a confidant who understand where you have been. You can
                                                confide in your sponsor what you may not be comfortable sharing at
                                                meetings. Or, further discuss, things you have brought up in meetings
                                                but that you feel like you need to unpack more outside of the limited
                                                time frame. Sponsors help you navigate membership, answer questions,
                                                work on the 12-steps, and offer accountability.</p>
                                                <p>Join our community today as a sponsor and help reach out to those in need.</p>
                                            <ul class="info">
                                                <li><i class="fa fa-user"></i> 67.41 Mil People</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="call-to-action" style="margin-top: auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Looking for psychological Help?</h2>
                <h4>Join our community by Clicking The Button</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function bannerSwitcher() {
        next = $('.sec-1-input').filter(':checked').next('.sec-1-input');
        if (next.length) next.prop('checked', true);
        else $('.sec-1-input').first().prop('checked', true);
    }

    var bannerTimer = setInterval(bannerSwitcher, 5000);

    $('nav .controls label').click(function () {
        clearInterval(bannerTimer);
        bannerTimer = setInterval(bannerSwitcher, 5000)
    });
</script>
{% endblock %}