{% extends 'Users/patient/patient_base.html' %}

{% block sidebar_items %}
<li>
    <a href="{% url 'Users:p_home' %}">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Profile</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:p_doctors' %}">
        <i class='bx bx-book-add'></i>
        <span class="links_name">Available Doctors</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:p_appointments_future' %}">
        <i class="bx bx-book-add"></i>
        <span class="links_name">Appointments</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:p_forums' %}" class="active">
        <i class='bx bx-chat'></i>
        <span class="links_name">Forums</span>
    </a>
</li>
{% endblock %}

{% block navfunc %}
<div class="search-box">
    <form method="POST" action="">
        {% csrf_token %}
        <input style="height: 50px;" type="text" name="log" id="log" placeholder="Send a message.." />
        <button type="submit"><i class='bx bx-search-alt-2'
                style="background-color: #22b3c1; position: absolute;"></i></button>
    </form>
</div>
{% endblock %}

{% block home_section %}
{% if message %}
<div class="alert alert-success" role="alert">
    <script>
        alert("The message violates our community guidelines. If you think this is a mistake, please contact us.");
    </script>
</div>
{% endif %}

{% for log in logs %}
{% if log.patient == patient %}
<div class="pt-7 pb-9 px-11 bg-white rounded-lg shadow border-1"
    style="position: relative; display: inline-block; width: 40%; margin-left: 58%; margin-right: 1%; margin-top: 2%; padding-left: 1.75rem; padding-right: 0; padding-top: 0.75rem; padding-bottom: 1.25rem;">

    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <div class="flex flex-col pt-1 mx-auto my-auto sm:pt-0 sm:mx-0">
            <div class="items-center justify-between mt-1">
                <div class="flex">
                    <p class="mr-1 font-semibold">{{log.body}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <p style="padding-left: 72%; font-size: small;">~{{log.patient.user.first_name}}
            {{log.patient.user.last_name}}<br>{{log.date_time}}</p>
    </div>
</div>
{% else %}
<div class="pt-6 pb-9 px-11 bg-white rounded-lg shadow border-1"
    style="position: relative; display: inline-block; width: 40%; margin-left: 2%; margin-right: 43%; margin-top: 2%; padding-left: 1.75rem; padding-right: 0; padding-top: 0.75rem; padding-bottom: 1.25rem;">

    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <div class="flex flex-col pt-1 mx-auto my-auto sm:pt-0 sm:mx-0">
            <div class="items-center justify-between mt-1">
                <div class="flex">
                    <p class="mr-1 font-semibold">{{log.body}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex">
        <p style="padding-left: 72%; font-size: small;">~{{log.patient.user.first_name}}
            {{log.patient.user.last_name}}<br>{{log.date_time}}</p>
    </div>
</div>
{% endif %}
{% endfor %}
<br><br>
{% endblock %}