{% extends 'Users/staff/staff_base.html' %}
{% load static %}

{% block sidebar_items %}
<li>
    <a href="{% url 'Users:home' %}" class="active">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Profile</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:doctors_pending' %}">
        <i class='bx bx-book-add'></i>
        <span class="links_name">Doctors</span>
    </a>
</li>
<li>
    <a href="{% url 'Users:sponsors_pending' %}">
        <i class='bx bxs-bank'></i>
        <span class="links_name">Sponsors</span>
    </a>
</li>
{% endblock %}

{% block home_section %}
<div class="pt-6 pb-50 px-11 bg-white rounded-lg shadow-black border-1"
    style="position: relative; display: inline-block; width: 50%; height: 62vh; margin: 3% 25%">
    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <div class="flex flex-col pt-4 pb-15 mx-auto my-auto sm:pt-0 sm:mx-0">
            <div class="flex flex-col pt-10 pl-5 mx-auto sm:flex-row sm:mx-0 ">
                <h1 class="text-lg font-semibold text-gray-800 sm:text-xl" style="font-size: 200%;">
                    {{staff.first_name}} {{staff.last_name}}</h1>
            </div>
            <div class="items-center justify-between mt-4 pt-8 pl-5">
                <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Staff Status: Active
                    </span></div>
            </div>
        </div>
    </div>
    <div class="w-full items-center justify-between pt-10 pl-5">
        <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Personal Details: </span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Age: {{staff.age}}</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Gender:
                {{staff.get_gender_display}}</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">Phone Number:
                {{staff.phone_number}}</span></div>
        <div class="flex"><span class="mr-1 text-gray-600 font-semibold text-lg">More details..</span></div>
    </div>
</div>
{% endblock %}