{% extends 'Users/base.html' %}

{% block sidebar %}
<ul class="nav-links">
    <li class="pb-16">
        <span class="pl-6 text-white text-2xl">User Name</span>
        <br>
        <span class="pl-6 text-yellow-200">Patient</span>
    </li>
    <li>
        <a href="{% url 'Users:home' %}">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Profile</span>
        </a>
    </li>
    <li>
        <a href="{% url 'Users:p_doctors'%}">
            <i class='bx bx-book-add'></i>
            <span class="links_name">Doctors</span>
        </a>
    </li>
    <li>
        <a href="{% url 'Users:wallet' %}">
            <i class="bx bx-book-add"></i>
            <span class="links_name">Wallet</span>
        </a>
    </li>
    <li>
        <a href="#" class="active">
            <i class="bx bx-book-add"></i>
            <span class="links_name">Appointments</span>
        </a>
    </li>
    
    <li class="log_out">
        <a href="">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block home_section %}
<div class="home-content">
    <div class="pt-6 pb-50 px-11 bg-white rounded-lg shadow-black border-1"
    style="position: relative; display: inline-block; width: 50%; height: 62vh; margin: 3% 25%">
    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <form action="" mathod="POST">
            {% csrf_token %}
            <input type="hidden" name="type" value="symptoms">
            <label for="symptoms-box" style="display:block;">Tell us how you are feeling</label>
            <textarea name="symptoms-box" id="symptoms-box" rows="10" style="display:block;">Enter text here</textarea>
            <input type="submit" class="main-button" value="Submit" style="display:block;">
        </form>
    </div>
    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <div class="flex flex-col pt-4 pb-15 mx-auto my-auto sm:pt-0 sm:mx-0">
            <div class="items-center justify-between mt-4 pt-8 pl-5">
                <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Booked Appointments
                    </span></div>
            </div>
        </div>
    </div>
    <div class="w-full items-center justify-between pt-10 pl-5">
        {% for appointment in booked_appointments %}
        <div class="appointments-list">
            <span>
                {{appointment.doctor.user.first_name}} {{appointment.doctor.user.last_name}}
            </span>
            <span>
                {{appointment.date}}
            </span>
            <span>
                {{appointment.time}}
            </span>
            <span>
                <form action="" method="POST">
                    <input type="hidden" name="id" value="{{appointment.id}}">
                    <input type="submit" value="Cancel" style="background:red;color:white;">
                </form>
            </span>
        </div>
        {% endfor %}
    </div>
    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <div class="flex flex-col pt-4 pb-15 mx-auto my-auto sm:pt-0 sm:mx-0">
            <div class="items-center justify-between mt-4 pt-8 pl-5">
                <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Completed Appointments
                    </span></div>
            </div>
        </div>
    </div>
    <div class="w-full items-center justify-between pt-10 pl-5">
        {% for appointment in completed_appointments %}
        <div class="appointments-list">
            <span>
                {{appointment.doctor.user.first_name}} {{appointment.doctor.user.last_name}}
            </span>
            <span>
                {{appointment.date}}
            </span>
            <span>
                {{appointment.time}}
            </span>
            <span>
                {{appointment}}
            </span>
            <span>
                <button class="prescriptions">Prescriptions</button>
            </span>
        </div>
        <div class="appointments-list prescriptions-list" style="display:none;">
            {{appointment.prescription}}
        </div>
        {% endfor %}
    </div>

<script>
    const presc_btn_list = document.querySelectorAll(".prescriptions");
    presc_btn_list.forEach(btn =>{
        btn.addEventListener('click',() =>{
            const container = btn.closest(".items-container");
            const presc_list = container.querySelector(".prescriptions-list");
            presc_list.style.display = "block";
        })
    })
</script>
</div>
{% endblock %}