{% extends 'Users/base.html' %}

{% block sidebar %}
<ul class="nav-links">
    <li class="pb-16">
        <span class="pl-6 text-white text-2xl">User Name</span>
        <br>
        <span class="pl-6 text-yellow-200">Patient</span>
    </li>
    <li>
        <a href="{% url 'Users:home' %}">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Profile</span>
        </a>
    </li>
    <li>
        <a href="#" class="active">
            <i class='bx bx-book-add'></i>
            <span class="links_name">Doctors</span>
        </a>
    </li>
    <li>
        <a href="{% url 'Users:wallet' %}">
            <i class="bx bx-book-add"></i>
            <span class="links_name">Wallet</span>
        </a>
    </li>
    <li>
        <a href="{% url 'Patient_Doctor_Bridge:appointments' %}">
            <i class="bx bx-book-add"></i>
            <span class="links_name">Appointments</span>
        </a>
    </li>
    
    <li class="log_out">
        <a href="">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block home_section %}
<div class="home-content">
    <div class="pt-6 pb-50 px-11 bg-white rounded-lg shadow-black border-1"
    style="position: relative; display: inline-block; width: 50%; height: 62vh; margin: 3% 25%">
    <div class="flex flex-col items-start w-full m-auto sm:flex-row">
        <div class="flex flex-col pt-4 pb-15 mx-auto my-auto sm:pt-0 sm:mx-0">
            <div class="items-center justify-between mt-4 pt-8 pl-5">
                <div class="flex"><span class="mr-1 text-gray-800 font-semibold text-2xl">Available Doctors
                    </span></div>
            </div>
        </div> 
    </div>
    <div class="w-full items-center justify-between pt-10 pl-5">
        {% for doctor in doctors %}
        <form action="{% url 'Patient_Doctor_Bridge:book_appointment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value={{doctor.user.id}} name="doctor">
            <input type="hidden" value="" name="date">
            <input type="hidden" value="" name="time">
            <span class="d-list">
                {{doctor.user.first_name}} {{doctor.user.last_name}}
            </span>
            <span class="d-list">
                {{doctor.specialization}}
            </span>
            <span class="d-list">
                {{doctor.experience}}
            </span>
            <span>
                <input type="submit" value="More Details">
            </span>
        </form>
        <br>
        {% endfor %}
    </div>
</div>
<script>
    
</script>
{% endblock %}